@font-face {
    font-family: ISKRA regular;
    src: url(/static/fonts/IskraCYR-Regular.otf);
}

@font-face {
    font-family: ISKRA mediumItalic;
    src: url(/static/fonts/IskraCYR-MediumItalic.otf);
}

.form {
    font-family: ISKRA regular;
    height: fit-content;
    color: #036791;
    width: fit-content;
    padding-top: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    max-width: 40vw;
}

.mb-3{
    width: 55vw;
}

.btn-info {
    color: white;
    background-color: #169BD5;
}