@font-face {
    font-family: ISKRA regular;
    src: url(/static/fonts/IskraCYR-Regular.otf);
}

@font-face {
    font-family: ISKRA mediumItalic;
    src: url(/static/fonts/IskraCYR-MediumItalic.otf);
}

.form {
    font-family: ISKRA regular;
    height: fit-content;
    color: #036791;
    width: fit-content;
    padding-top: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    max-width: 40vw;
}

.form .profile-group {
    margin-bottom: 50px;
    font-size: 24px;
}

.form .inline-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pets-btn {
    display: block;
    width: 100%;
    margin: 0;
}

.mb-3 input output {
    font-size: 20px;
}

.form .form-label {
    margin-right: 5px;
}

.profile {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.btn-info {
    color: white;
    background-color: #169BD5;
}

.pet-img {
    height: auto;
    width: 5vw;
    align-items: center;
}

.pet-img-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.form .mb-3 .form-text {
    color: red;
}