@font-face {
    font-family: ISKRA regular;
    src: url(/static/fonts/IskraCYR-Regular.otf);
}

@font-face {
    font-family: ISKRA mediumItalic;
    src: url(/static/fonts/IskraCYR-MediumItalic.otf);
}

.form {
    font-family: ISKRA regular;
    height: fit-content;
    width: fit-content;
    padding-top: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.list-group {
    margin-top: 20px;
}

.btn-info {
    color: white;
    background-color: #169BD5;
}

.inline-group {
    display: flex;
    justify-content: space-evenly;
}

.text-muted {
    margin-left: 30px;
}

h4 {
    color: #036791;
}

a {
    color: #036791;
    text-decoration: none;
}

a:hover {
    color: #036791;
}