@font-face {
    font-family: ISKRA regular;
    src: url(/static/fonts/IskraCYR-Regular.otf);
}

@font-face {
    font-family: ISKRA mediumItalic;
    src: url(/static/fonts/IskraCYR-MediumItalic.otf);
}

.form {
    font-family: ISKRA regular;
    height: fit-content;
    padding-top: 15px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;

}

.list-group {
    margin-top: 20px;
    width: 60vw;
}

.inline-group {
    display: flex;
    justify-content: space-between;
}
h3{
    color: #036791;
    margin-bottom: 25px;
}

.label {
    margin-top: 30px;
}
.error {
    color: red;
}

.btn-info {
    color: white;
    background-color: #169BD5;
}

.form .form-label {
    color: #036791;
    font-size: 18px;
    margin-right: 5px;
}